<h3>General Info</h3>

<ul>
  <li><strong>User</strong> <%= @cart.user_full_name %></li>
  <li><strong>Created At</strong> <%= @cart.created_at.strftime('%I:%M %p, %D') %></li>
  <li><strong>Last Modified</strong> <%= @cart.updated_at.strftime('%I:%M %p, %D') %></li>
  <li><strong>Status</strong> <%= tb_checkout_status_label_for_cart(@cart) %></li>
</ul>

<h3>Products</h3>

<% if @cart.is_empty? %>
  <p>This cart does not contain any items.</p>
<% else %>
    <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </thead>
      <tbody>
        <% @cart.cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item_description %></td>
            <td><%= cart_item.quantity %></td>
            <td><%= number_to_currency cart_item.total_price %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">Total</td>
          <td><%= number_to_currency @cart.total_price %></td>
        </tr>
      </tfoot>
    </table>
  </div>
<% end %>

<h3>Transactions</h3>

<% if @cart.transactions.blank? %>
  <p>There are no transactions associated with this shopping cart.</p>
<% else %>
  <%= render :partial => '/tb_checkout/admin/transactions/table', :locals => {:transactions => @cart.transactions} %>
<% end %>
