<h4>Credit Card</h4>
<dl class="dl-horizontal tb-checkout-transaction-confirm-info">
  <dt>Number</dt>
  <dd><%= @transaction.card_display %></dd>
  <dt>Type</dt>
  <dd><%= @transaction.card_type.titleize %></dd>
  <dt>Amount Charged</dt>
  <dd><%= number_to_currency @transaction.amount_charged %></dd>
</dl>

<h4>Billing Address</h4>
<dl class="dl-horizontal tb-checkout-transaction-confirm-info">
  <dt>Name</dt>
  <dd><%= @transaction.billing_full_name %></dd>
  <dt>Address</dt>
  <dd><%= @transaction.billing_full_address %></dd>
</dl>
