<h1>My Orders</h1>

<table class="table tb-checkout-transactions-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Card</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% cache @transactions do %>
      <% @transactions.each do |transaction| %>
        <% cache transaction do %>
          <tr>
            <td><%= transaction.created_at.strftime('%D') %></td>
            <td><%= transaction.cart.description %></td>
            <td><%= transaction.card_display %> (<%= transaction.card_type.titleize %>)</td>
            <td><%= number_to_currency transaction.amount_charged %></td>
            <td><%= link_to 'Details', tb_checkout_transaction_path(transaction) %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @transactions %>
