<h1>Check Out</h1>

<%= render :partial => '/tb_checkout/carts/cart', :locals => {:editable => false, :cart => @cart} %>

<h2>Billing Info</h2>

<%= form_for @transaction, :url => new_tb_checkout_transaction_path, :html => {:class => 'tb-checkout-checkout-form form-horizontal'} do |f| %>

  <%= tb_form_errors(@transaction) %>

  <div class="form-group">
    <%= f.label :card_type, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :card_type, tb_checkout_credit_card_types, {}, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :card_number, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :card_number, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :card_expiration, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.date_select :card_expiration, {:discard_day => true, :start_year => Date.today.year, :end_year => Date.today.year+10}, {:class => 'form-control form-control-date-select'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :card_ccv, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :card_ccv, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :billing_first_name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :billing_first_name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :billing_last_name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :billing_last_name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :billing_address_1, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :billing_address_1, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :billing_city, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :billing_city, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :billing_state, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :billing_state, tb_checkout_options_for_states, {:prompt => 'Select State'}, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :billing_postal, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :billing_postal, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group form-actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Submit', :class => 'btn btn-primary', :data => {:disable_with => 'Please wait...'} %>
      <%= link_to 'Back', tb_checkout_cart_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
