<h1>Invoice</h1>

<p>Print this page for your records.</p>

<h4>Your Order</h4>
<%= render :partial => '/tb_checkout/carts/cart', :locals => {:editable => false, :cart => @transaction.cart} %>

<%= render 'details' %>

<p><%= link_to 'View My Orders', tb_checkout_transactions_path %></p>
