<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <th>Transaction ID</th>
      <th>Billing Name</th>
      <th>Card</th>
      <th>Amount Charged</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      <% transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.gateway_transaction_id %></td>
          <td class="no-wrap"><%= transaction.billing_full_name %></td>
          <td class="no-wrap"><%= transaction.card_display %> (<%= transaction.card_type %>)</td>
          <td><%= number_to_currency transaction.amount_charged %></td>
          <td><%= transaction.created_at.strftime('%D %-l:%M %p') %></td>
          <td><%= tb_checkout_status_label_for_transaction(transaction.status) %></td>
          <td><%= link_to 'Detail', tb_checkout_admin_transaction_path(transaction), :class => 'btn btn-sm btn-default' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
