<% content_for :data_controls do %>

<% end %>

<% content_for :detail do %>
  <%= render :partial => 'table', :locals => {:transactions => @transactions} %>
  <%= will_paginate @transactions, :renderer => BootstrapPagination::Rails %>
<% end %>
