<h3>Summary</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Invoice Number</th>
        <th>Transaction ID</th>
        <th>Card</th>
        <th>Amount Charged</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @transaction.cart.user_full_name %></td>
      <td><%= @transaction.invoice_num %></td>
      <td><%= @transaction.gateway_transaction_id %></td>
      <td><%= @transaction.card_display %> (<%= @transaction.card_type %>)</td>
      <td><%= number_to_currency @transaction.amount_charged %></td>
      <td><%= @transaction.created_at.strftime('%D %-l:%M %p') %></td>
      <td><%= tb_checkout_status_label_for_transaction(@transaction.status) %></td>
    </tbody>
  </table>
</div>

<h3>Billing Address</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Address 2</th>
        <th>City</th>
        <th>State</th>
        <th>Postal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @transaction.billing_full_name %></td>
        <td><%= @transaction.billing_address_1 %></td>
        <td><%= @transaction.billing_address_2 || "--" %></td>
        <td><%= @transaction.billing_city %></td>
        <td><%= @transaction.billing_state %></td>
        <td><%= @transaction.billing_postal %></td>
      </tr>
  </table>
</tbody>

<h3>Line Items</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @transaction.cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item_description %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= number_to_currency cart_item.total_price %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Total</td>
        <td><%= number_to_currency @transaction.cart.total_price %></td>
      </tr>
    </tfoot>
  </table>
</div>

<h3>API Response Text</h3>

<%= debug @transaction.response_json %>
