<h1>My Cart</h1>

<% if @cart.blank? || @cart.is_empty? %>
  <p>Your shopping cart is currently empty.</p>
<% else %>
  <%= render 'cart' %>
  <p><%= link_to 'Check Out', new_tb_checkout_transaction_path, :class => 'btn btn-primary' %></p>
<% end %>
